.faq-wrapper{
  font-family: 'Roboto';
  

}
.faq-row-wrapper .faq-wrapper{
  background-color: #E5E5E5;
}

.styles_faq-row-wrapper__3vA1D {
   background-color: #E5E5E5; 
}

.faq-wrapper .faq-body .faq-row {
    padding: 20px ;
    background-color: white;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    width: 80%;
    margin: 5% 10%;
  
}
.faq-wrapper .faq-body .faq-row .row-title {
    font-size: larger;
    color: black;
    font-weight: bold;
}


