.faq-wrapper{
  font-family: 'Roboto';
  background-color: #E5E5E5;
  

}
.faq-row-wrapper{
  background-color: #E5E5E5;
}
.styles_faq-row-wrapper__3vA1D  .styles_faq-row__2YF3c{
    background-color: #E5E5E5;
}
.faq-wrapper .faq-body{
  background-color: #E5E5E5;
}
.faq-row{
  background-color: white;
}
.faq-wrapper .faq-body .faq-row {
    padding: 20px ;
   
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    width: 80%;
    margin: 5% 10%;
  
}
.faq-wrapper .faq-body .faq-row .row-title {
    font-size: larger;
    color: black;
    font-weight: bold;
}

.arrow-image svg{
  fill: blue;
}
