.header {
    display: flex;
    align-items: center;
    height: 60px;
    position: absolute;
    z-index: 100;
    width: 80%;
    justify-content: space-between;
    margin: 2% 10%;

}

.header_logo {
    width: 150px;
    object-fit: contain;
    margin: 0 5%;

}
a{
    text-decoration: none;
}
a:active{
    color: red;
}
a:visited{
    color: #0E79BD;
}
.header_nav {
    display: flex;
    position: absolute;
    right: 5%;
    justify-content: space-evenly;
    align-items: center;

}

.header_option {
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    padding: 0 20px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-align: center;

    color: #0E79BD;

}

button {

    width: 211px;
    height: 38px;
    left: 1109px;
    top: 42px;
    color: antiquewhite;
    background: #0E79BD;
    border-radius: 10px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-align: center;

    color: #FFFFFF;
}