.read_card {
    width: 80%;
    margin: 2% 10%;
    font-family: 'Roboto';
    background: #FFFFFF;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
    border-radius: 30px;
    height: fit-content;
}


.read_card h2 {
    text-align: left;
    padding: 20px;
}

.read_card p {
    text-align: left;
    padding: 0 25px 25px 25px;
}

.read_card .link{
padding: 2%;
text-align: right;
margin: 2%;

}


.read_card a {
    text-decoration: none;
    color:#0E79BD;
    font-size: 1.5em;
}